<script>
	import HolaMundo from './HolaMundo.svelte';
	export let name;
</script>


<main>
	<h1>Bienvenido {name}!</h1>
	<p>Visita el <span> <a href="https://svelte.dev/tutorial">tutorial Svelte </a> </span> para aprender a construir aplicaciones Svelte.</p>
	<HolaMundo/>
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>