<script>
import { xlink_attr } from "svelte/internal";


    let titulo = "Operaciones en Svelte";
	const suma = (a,b)=>a+b;
	const operacion = (x,y, opera)=>{
		return opera(x,y);
	};
	const potencia = (x,y) => Math.pow(x,y);
</script>

<main>
    <div id="app">
        <h3>{titulo}</h3>
        <p>  3 + 6 = <span> { suma(3,6) } </span></p>
		<p> 34 * 51 = <span>{ operacion(34, 51, (x,y)=> x*y) } </span> </p>
		<p> 12^3 = <span>{ operacion(12,3,potencia) }</span></p>
		<p> 22 + 65 = <span>{ operacion(22,65,suma) }</span> </p>
    </div>
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>